@font-face{
    font-family: 'Cloud';
    font-weight: normal;
    src: url('../fonts/Cloud-Light.otf');
}

@font-face{
    font-family: 'Cloud';
    font-weight: bold;
    src: url('../fonts/Cloud-Bold.otf');
}

html, body{
    height: 100%;
}

body{
    min-height: 100%;
    background: #2b4256;
    font-family: Cloud;
    font-size: 24px;
    color: white;
}

h1{
    font-weight: bold;
    font-size: 2em;
}

.island-wrapper{
    /*position: relative;
    height: 100%;*/
}

#registration-island-top{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#registration-island-top img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    max-height: 400px;
}

img#sky{
    width: 100%;
    max-width: 100%;
    height: 400px;
}

img#star{
	max-width: none;
}

img#mountain{
	max-width: none;
	margin-top: 50px;
}

img#moon{
    max-height: 220px;
    width: 80%;
    max-width: 220px;
    top: 12%;
}

img#squid{
    z-index: 900;
    width: auto;
}

img#island{
    position: relative;
    width: 90%;
    margin-top: 80px;
    z-index: 20;
}

img#sea-wave{
	position: absolute;
	z-index: 100;
    bottom: -1px;
    left: -60px;
    min-width: 1200px;
    width: 120%;
    max-width: 120%;
    height: 25%;
    max-height: 100px;
    animation: wave-move 2s linear alternate infinite;
}

img#sea-wave-background{
	position: absolute;
	z-index: 15;
    bottom: 20px;
    left: auto;
    right: -60px;
    min-width: 1200px;
    width: 120%;
    max-width: 120%;
    height: 25%;
    max-height: 100px;
    animation: wave-move-reverse 2s linear alternate infinite;
}

img#ship{
    width: 400px; 
    height: 400px; 
    position: absolute; 
    z-index: 50;
    bottom: -25.5%;
    animation: ship-sailing 6s linear infinite;
    transition: left 1s ease;
    /*top: -250px; 
    margin-left: -50px;*/
}

#ship-container{
	max-width: 1200px; 
	height: 350px; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto;
}

@keyframes wave-move {
    0% {left: -60px;}
    100% {left: 0px;}
}

@keyframes wave-move-reverse {
    0% {right: -60px;}
    100% {right: 0px;}
}

@keyframes ship-sailing{
	0% {transform: rotate(0deg)}
	25% {transform: rotate(-8deg)}
	50% {transform: rotate(0deg)}
	75% {transform: rotate(-8deg)}
	100% {transform: rotate(0deg)}
}

@keyframes flying{
	
}

.island-wrapper{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.registration-section{
    background: #2b4256;
    position: relative;
    z-index: 200;
    margin-top: -20px;
    text-align: center;
    min-height: 400px;
}

div.step{
    background: #2b4256;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
}

ol.step{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol.step li{
    display: inline-block;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 35px;
    text-align: center;
    transition: 0.4s background ease;
}

ol.step li.active{
    background: white;
    color: black;
    border: none;
    width: 55px;
    height: 55px;
    line-height: 60px;
    font-weight: bold;
    font-size: 30px;
    transition: 1s background ease;
}

#registration-section{
	text-align: center;
}

#footer{
	margin-top: 30px;
	padding: 30px;
	padding-bottom: 25px;
	font-size: 16px;
	text-align: center;
	background: rgba(0,0,0,0.3);
}

.footer-container{
	max-width: 1000px;
}

#registration-section h1{
	color: #ca817d;
	margin-bottom: 30px;
	text-align: center;
}

/*.input-container{
	background: rgba(0,0,0,0.2);
	max-width: 900px;
	margin: auto;
	padding: 30px;
}*/

.input-container{
	position: relative;
	top: 0;
}

.input-section{
	text-align: left;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.step-control{
	padding: 30px;
	text-align: center;
}

.pirate-btn{
	background: #ca817d;
	border-radius: 10px;
	box-shadow: 0 1px 3px #333;
	padding: 10px 30px 5px 30px;
	font-size: 24px;
	transition: 0.35s background ease;
	margin: auto 7px;
}

.pirate-btn:hover{
	background: #a35854;
	color: white;
}

@media all and (max-width: 1200px){
    img#ship{
		bottom: -108px;
    }
    ol.step li{
	    margin: 0 20px;
	}
}

@media all and (max-width: 750px){
    img#ship{
		bottom: -95px;
		width: 300px;
		height: 300px;
    }
    img#sea-wave{
	    bottom: -15px;
    }
    img#sea-wave-background{
	    bottom: -5px;
    }
	#registration-section{
		margin-top: 10px;
	}
	ol.step li{
		margin: 0 5px;
	}
	#footer .col-sm-6{
		text-align: center;
	}
}

@media all and (max-width: 480px){
    div.step{
        margin-top: -5px;
    }
    img#ship{
		bottom: -65px;
		width: 200px;
		height: 200px;
    }
    img#sea-wave{
	    bottom: -15px;
    }
    img#sea-wave-background{
	    bottom: -5px;
    }
    ol.step li{
	    display: inline-block;
	    border: 1px solid white;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    border-radius: 50%;
	    margin: 0;
	    text-align: center;
	    font-size: 16px;
	}
	
	ol.step li.active{
	    background: white;
	    color: black;
	    border: none;
	    width: 40px;
	    height: 40px;
	    line-height: 44px;
	    font-weight: bold;
	    font-size: 24px;
	}
	.pirate-btn{
		margin: 0;
	}
	.btn-register{
		margin-left: -15px;
		padding: 10px 5px;
	}
}

@media all and (max-width: 320px){
	#footer{
		padding: 20px;
		padding-bottom: 15px;
	}
}

label{
	font-weight: normal;
	font-size: 20px;
}

.form-control{
	margin-bottom: 10px;
}

input[type=checkbox]{
	border: none;
	box-shadow: none;
}

input[type=checkbox]:focus{
	border: none;
	box-shadow: none;
}

.referral{
	font-size: 16px;
}

.referral div{
	margin-bottom: 6px
}

.faculty-box{
	width: 100%;
	height: 270px;
	display: table;
}

.faculty-circle{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-radius: 50%;
	transition: background 0.5s ease, color 0.5s ease;
}

.faculty-circle:hover{
	background: white;
	color: #2b4256;
	cursor: pointer;
}

.major-box{
	background: rgba(0,0,0,0.3);
	padding: 20px;
	border-radius: 5px;
	min-height: 182px;
	position: relative;
}

.major-box select{
	font-size: 20px;
	height: 50px;
}

.major-box small{
	top: 40%;
	left: 0;
	right: 0;
}

.major{
	background: rgba(255,255,255,0.1) !important;
	border-radius: 5px;
	box-shadow: none;
	color: white;
	margin: 10px;
	padding: 10px 20px;
	display: inline-block;
}

.question .unit{
	margin-bottom: 40px;
	font-size: 20px;
}

#registration-section input, #step-8 input{
	background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #59646d;
    border-radius: 0;
    color: white;
}

#registration-section input:focus{
    border-bottom: 1px solid #ddd;
}

#registration-section select, #step-8 select{
	background: rgba(255,255,255,0.1) !important;
    border: 0px solid #59646d;
    box-shadow: none;
    color: white;
}

#registration-section select option, #step-8 select option{
	color: black;
}